.transaction-dashboard-page {
  width: 100% !important;
  margin-left: 10px !important;
  padding: 1rem !important;
  height: calc(100vh - 64px) !important;
}

.css-bb9zc0 {
   padding: 0% !important;  
}